<title>Appointment</title>
{% extends 'doctor_base.html'%}

{% block content %}

    
        <div class="container-fluid mt-3">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-center text-primary">Appointments</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr> 
                            <th  data-field="name" data-sortable="true"> Datee</th>
                            <th data-field="description" data-sortable="true"> Time </th>
                            <th  data-field="action" data-sortable="true"> Consulting Doctor </th>
                            <th  data-field="date" data-sortable="true"> Status </th>
                      </tr>
                      </thead>
                      <tbody>
                        {% if get_appointment %}
                        
                        {% for appoint in get_appointment%}
                        <tr>
                            <td>
                                {{appoint.date}}
                            </td>
                            <td>
                                {{appoint.time}}
                            </td>
                            <td>
                                {{appoint.patient_name}}
                            </td>
                            <td>
                                {{appoint.status}}
                            </td>
                        </tr>
                        {% endfor%}
                        {% else %}
                        <tr>
                          <td colspan="4" class="text-center">
                            No appointments
                          </td>
                        </tr>
                      
                        {% endif %}
                       
 
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>

{% endblock %}






