<title>Home</title>
{% extends 'hr_base.html'%}

{% block content %}

<div class="container-fluid">

    <div class="row mt-2">
        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 col-xl-4">
            <div class="card bg-primary" >
                <div class="card-body">
                    <h5 class="card-title text-center text-white">No. of Doctors</h5>
                    <h1 class="text-center text-white"> <b> {{get_all_doctors_count}} </b></h1>
                </div>
                </div>  
        </div>

        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 col-xl-4">
            <div class="card bg-light" >
                <div class="card-body">
                    <h5 class="card-title text-center text-dark">No of Patients</h5>
                    <h1 class="text-center text-black"> <b> {{get_all_patients_count}} </b></h1>
                </div>
                </div>  
        </div>

        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 col-xl-4">
            <div class="card bg-secondary" >
                <div class="card-body">
                    <h5 class="card-title text-center text-white">OnDuty Doctors</h5>
                    <h1 class="text-center text-white"> <b>{{get_all_active_doctors_count}}</b></h1>
                </div>
                </div>  
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card shadow mt-3 mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-center text-primary">Doctors</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <a href="/add_doctors" class="btn btn-primary mb-2">Add Doctor</a>
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr> 
                                    <th data-sortable="true">Name</th>
                                    <th data-sortable="true"> Phone</th>
                                    <th data-sortable="true"> Email </th>
                                    <th data-sortable="true"> Gender </th>
                                    <th data-sortable="true">Age</th>
                                    <th data-sortable="true">Status</th>
                                    <th data-sortable="true">Department</th>
                                    <th data-sortable="true">Attendance</th>
                                    <th data-sortable="true">Salary</th>
                                    <th data-sortable="true">Update</th>
                                    <th data-sortable="true">Delete</th>
    
                                </tr>
                            </thead>
                        
                            <tbody>
                                {% for doctors in get_all_doctors %}
                                    <tr>
                                        <td>
                                            {{doctors.first_name}} {{doctors.last_name}}
                                        </td>
                                        <td>
                                            {{doctors.phone_number}}
                                        </td>
                                        <td>
                                            {%if doctors.email %}
                                            {{doctors.email}}
                                            {% else %}
                                            None
                                            {%endif%}

                                        </td>
                                        <td>
                                            {%if doctors.gender %}
                                                {{doctors.gender}}
                                            {% else %}
                                                 None
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if doctors.age %}
                                                {{doctors.age}}
                                            {% else %}
                                                None
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if doctors.status %}
                                                {{doctors.status}}
                                            {% else %}
                                                None
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if doctors.department %}
                                                {{doctors.department}}
                                            {% else %}
                                                None
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if doctors.attendance %}
                                                {{doctors.attendance}}
                                            {% else %}
                                                None
                                            {%endif%}
                                        </td>
                                        <td>
                                            {%if doctors.salary %}
                                                {{doctors.salary}}
                                            {% else %}
                                                None
                                            {%endif%}
                                        </td>
                                        <td>
                                            <a href="/update_doctor/{{doctors.user_id}}" class="btn btn-primary">Update</a>
                                        </td>
                                        <td>
                                            <!-- <a href="/update_patients/{{patients.user_id}}" class="btn btn-danger " data-toggle="modal" data-target="#myModal_{{patients}}">Update</a> -->
                                            
                                            
                                             {% if doctors.status == 'Inactive' %} 
                                                <button class="btn btn-danger mb-2" disabled>Delete</button>
                                             {% else %}
                                                <button class="btn btn-danger mb-2" data-toggle="modal" data-target="#myModal_{{doctors.user_id}}"> Delete </button>
                                             {% endif %}
                                            
                                        </td>
                                    </tr>
    
                                {% endfor %}
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for doctors in get_all_doctors %}
    <div class="modal" id="myModal_{{doctors.user_id}}">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirmation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
        
        <form action="../delete_patients/{{doctors.user_id}}" method="post"> 
            {% csrf_token %}
             Are you sure, you want to delete this user????
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"> YES</button>
        </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
        </div>
  
      </div>
    </div>
  </div>
{%endfor%}

    </div>

{% endblock%}