<title>Home</title>
<!-- <script>
    $(document).ready(function() {
        // show the alert
        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
        $("#success-alert").slideUp(500);
    });
    });
</script> -->
{% extends 'patient_base.html'%}
{% block content %}

    <h1>Patients' Home page</h1>


        <!-- <div class="container-fluid">
            <div class="alert alert-success p-3" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Success! </strong> {{updated}}
            </div>
        </div> -->
    

{% endblock %}






